/* Reset Page --------------------------------------------------------------------------*/

@import "normalize.css";

/* Main Style Page --------------------------------------------------------------------------*/

body {
	color: #891bc9;
	font-size: 1.00em; /*-- 16px --*/
	margin: 01.5625%;
	padding: 00.520833%	
}

p {
	margin: 2%;
	padding: 0.4%;
}	

